{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Nuovo scontrino{% endblock %}

{% block content %}
	<style>
		video { border: 1px solid #ccc; display: block; margin: 0 0 20px 0; }
		#canvas { margin-top: 20px; border: 1px solid #ccc; display: block; }
	</style>

    <div>
	<!--
		Ideally these elements aren't created until it's confirmed that the
		client supports video/camera, but for the sake of illustrating the
		elements involved, they are created with markup (not JavaScript)
	-->
	<video id="video" width="640" height="480" autoplay></video>
	<button id="snap" class="sexyButton">Snap Photo</button>
	<button id="save" class="sexyButton">Save</button>
	<canvas id="canvas" width="640" height="480"></canvas>

	<script>

		// Put event listeners into place
		window.addEventListener("DOMContentLoaded", function() {
            var hasGeoloc = "geolocator" in navigation;
            var done = false;
            var lat = 0;
            var long = 0;
            if(hasGeoloc){
                navigator.geolocation.getCurrentPosition(function(position) {
                    lat = position.coord.latitude;
                    long = position.coord.longitude;
                    done = true;
                });
            }

			// Grab elements, create settings, etc.
			var canvas = document.getElementById("canvas"),
				context = canvas.getContext("2d"),
				video = document.getElementById("video"),
				videoObj = { "video": true },
				errBack = function(error) {
					console.log("Video capture error: ", error.code);
				};

			// Put video listeners into place
			if(navigator.getUserMedia) { // Standard
				navigator.getUserMedia(videoObj, function(stream) {
					video.src = stream;
					video.play();
				}, errBack);
			} else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
				navigator.webkitGetUserMedia(videoObj, function(stream){
					video.src = window.webkitURL.createObjectURL(stream);
					video.play();
				}, errBack);
			} else if(navigator.mozGetUserMedia) { // WebKit-prefixed
				navigator.mozGetUserMedia(videoObj, function(stream){
					video.src = window.URL.createObjectURL(stream);
					video.play();
				}, errBack);
			}

			// Trigger photo take
			document.getElementById("snap").addEventListener("click", function() {
				context.drawImage(video, 0, 0, 640, 480);
			});


            document.getElementById("save").addEventListener("click", function() {
                var canvasData = canvas.toDataURL("image/png");
                var ajax = new XMLHttpRequest();
                ajax.open("POST", '/upload/', false);
                ajax.onreadystatechange = function() {
                    console.log(ajax.responseText);
                    window.location.href = '/select/' + ajax.responseText;
                };
                ajax.setRequestHeader('Content-Type', 'application/upload');
                ajax.send("imgData="+canvasData);
            });

		}, false);

	</script>

</div>
{% endblock %}
