{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Nuovo scontrino{% endblock %}

{% block content %}
    <form action="." enctype="multipart/form-data" id="receipt-create-form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary" id="submit-create">
                {% bootstrap_icon "save" %} Save
            </button>

            {% bootstrap_button "Cancel" href="/" button_class="btn-link" %}
        {% endbuttons %}
    </form>
    <script>
        var form = document.getElementById("receipt-create-form");
        var submit = document.getElementById("submit-create");
        submit.enabled = false;
        form.lat = 0;
        form.long = 0;
        if (!("geolocation" in navigator)) {
            console.log("[dbg] geolocation is not active");
            submit.enabled = true;
            form.has_position.value = false;
        }

        navigator.geolocation.getCurrentPosition(function(position){
            console.log("[dbg] geolocation is active: " + position.coords.latitude + " " + position.coords.longitude);
            form.has_position.value = true;
            form.lat.value = position.coords.latitude;
            form.long.value = position.coords.longitude;
            submit.enabled = true;
        }, function(error) {
            console.log("[dbg] an error occurred " + error);
            form.has_position.value = false;
            submit.enabled = true;
        });
    </script>
{% endblock %}

