{% extends "base.html" %}

{% load bootstrap3 %}


{% block title %}I tuoi scontrini{% endblock %}

{% block content %}
    <div class="row">
        <div class="pull-right">
            {% bootstrap_button "Carica un nuovo scontrino" href="/new/" button_class="btn-primary" %}
        </div>
    </div>

    {% for receipt in object_list %}
        <hr>
        <div class="row">
            <div class="col-xs-1">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" style="font-size: 24px; margin-top: 15px; margin-left: 15px;"></span>
            </div>
            <div class="col-xs-7">
                <p class="lead">{{ receipt.shop }}</p>
                <p>{{ receipt.category }} / <small>{{ receipt.created|date }}</small></p>
            </div>
            <div class="col-xs-2">
                <p class="lead">{{ receipt.price }}&euro;</p>
            </div>
            <div class="col-xs-2">
                <a class="btn btn-default" href="/edit/{{ receipt.pk }}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" href="{{ receipt.image.url }}"><span class="glyphicon glyphicon-download"></span></a>
            </div>
        </div>
    {% empty %}
        <li>No receipts yet.</li>
    {% endfor %}
        <hr>
{% endblock %}
